<footer class="container" style="margin-top: 100px;">
    <p class="text-center">灰犀牛团队 @2017 前哨
       <br>Design by
       <a href=" http:// courses.growthschool.com/courses/rails-103/" target=_new>前哨</a>
    </p>
</footer>
